{% extends 'base.html' %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div>
        {% for tour in tours %}
            <h3><a href="{% url 'detail' tour.category.id tour.id %}">{{ tour.title }}</a></h3>
            <p>{{ tour.presentation | truncatewords:7 }}</p>
        {% endfor %}
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}