{% extends 'base.html' %}
{% load static %}
{% block content %}
        {% include 'includes/navbar.html' %}
    <div>

        <!------------------------------ START TOURS ----------------------------->
        <div class="card">
            {% for tour in tours %}
                <div class="card-header">
                    {{ tour.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ tour.presentation }}</p>
                        <p>{{ tour.detail }}</p>
                        <p>{{ tour.date_and_price }}</p>
                        <p>{{ tour.category }}</p>
                        Карта: <img src="{{ tour.map.url }}" height="150" alt=""/>
                    </blockquote>
                </div>

                <!------------------------------ IMAGES ----------------------------->
                 <div>
                    {% for image in tour.images.all %}
                        <img src="{{ image.images.url }}" height="200" alt=""/>
                    {% endfor %}
                </div>
                <!------------------------------ IMAGES ----------------------------->


                <!------------------------------ COMMENTS ----------------------------->
                <div>
                {% for comment in tour.comments.all%}
                    <p>{{ comment.author }}:  {{ comment.body }}. {{ comment.date }}</p>
                {% endfor %}
                </div>
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3>Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
                <!------------------------------ COMMENTS ----------------------------->

            {% endfor %}
            <!--------------------------- END OF TOURS--------------------------->

            {% include 'includes/footer.html' %}
        </div>
    </div>
{%  endblock %}