{% extends 'base.html' %}
{% block content %}
    <div class="nav-link">
    {% include 'includes/navbar.html' %}
    </div>
    <div class="">
    {% for tour in tours %}
        <div>
        <a href="{% url 'detail' tour.category.id tour.pk %}">{{ tour.title }}</a>
        </div>
    {% endfor %}
    </div>
    <div class="footer-area">{% include 'includes/footer.html' %}</div>
{% endblock %}